aside {
    position: absolute;
    top: 10%;
    height: 75%;
    background-color: #666666;
    width: 12%;
    display: block;
    margin-right: 0%;
    float: left;
}
h2.aside {
    color: aliceblue;
}
p.aside {
    width: 100%;
    background-color: #6622aa;
    border-width: 3px;
    border-style: inset;
    border-radius: 20%;
    color: #33ff11;
    font-family: "System";
    font-size: 3vh;
}
a.aside {
    background-color: sienna;
}